/* Coolors Exported Palette - coolors.co/f9f9f9-e5e5e5-fff2f2-fbfef9-f2f2f2 */

/* HSL */
$color1: hsla(0%, 0%, 98%, 1);
$color2: hsla(0%, 0%, 90%, 1);
$color3: hsla(0%, 100%, 97%, 1);
$color4: hsla(96%, 71%, 99%, 1);
$color5: hsla(0%, 0%, 95%, 1);

/* RGB */
$color1: rgba(249, 249, 249, 1);
$color2: rgba(229, 229, 229, 1);
$color3: rgba(255, 242, 242, 1);
$color4: rgba(251, 254, 249, 1);
$color5: rgba(242, 242, 242, 1);