
body {
    background-color: #0897ea;
    background-image: linear-gradient(319deg, #0897ea 0%, #2ae3f5 100%);    
    background-repeat: no-repeat;
    background-size: auto;
}

.Li-profile-badge {
    color: white;
}
#header{
   
    background-position: center;
    text-align: center;
}

#profile-image {
    max-width: 250px;
    border: 4px red solid;
}


